{
  "swagger": "2.0",
  "info": {
    "title": "BadBeatMods API",
    "description": "This isn't really fully complete, but its better than absolutely nothing.\n\nThis API documentation is automatically generated and therefor may not be 100% accurate and may be missing a few fields.",
    "version": "0.0.1"
  },
  "host": "bbm.saera.gay",
  "basePath": "/",
  "tags": [
    {
      "name": "Mods",
      "description": "Mod related endpoints"
    },
    {
      "name": "Auth",
      "description": "Authentication related endpoints"
    },
    {
      "name": "Versions",
      "description": "Version Management"
    },
    {
      "name": "Approval",
      "description": "Approval related endpoints"
    },
    {
      "name": "MOTD",
      "description": "Message of the Day related endpoints"
    },
    {
      "name": "Users",
      "description": "User related endpoints"
    },
    {
      "name": "Admin",
      "description": "Admin related endpoints"
    },
    {
      "name": "Status",
      "description": "Status related endpoints"
    },
    {
      "name": "BeatMods",
      "description": "Legacy BeatMods API endpoints"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/beatmods/mod": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "parameters": [
          {
            "name": "gameVersion",
            "description": "The game version as a string (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The statuses to return. Available statuses are: 'approved' & 'all'",
            "format": "string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Missing Game Version."
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/mod": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "parameters": [
          {
            "name": "gameVersion",
            "description": "The game version as a string (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The statuses to return. Available statuses are: 'approved' & 'all'",
            "format": "string",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Missing Game Version."
          }
        },
        "deprecated": true
      }
    },
    "/beatmods/versions": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Version endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "responses": {
          "200": {
            "description": "Returns all versions."
          }
        },
        "deprecated": true
      }
    },
    "/versions.json": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Version endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "responses": {
          "200": {
            "description": "Returns all versions."
          }
        },
        "deprecated": true
      }
    },
    "/beatmods/aliases": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Aliases endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns all aliases."
          }
        },
        "deprecated": true
      }
    },
    "/aliases.json": {
      "get": {
        "tags": [
          "BeatMods"
        ],
        "summary": "Legacy BeatMods API Aliases endpoint.",
        "description": "Legacy BeatMods API endpoint. This is available for mod downloaders that have not been updated to use the new API.<br><br>This endpoint does not work the same way as the old BeatMods API, but it should be close enough to work with most mod downloaders.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns all aliases."
          }
        },
        "deprecated": true
      }
    },
    "/mods": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get all mods for a specified version.",
        "description": "Get all mods.<br><br>If gameName is not provided, it will default to Beat Saber.<br>If gameVersion is not provided, it will default to whatever is set as the lastest version for the selected game.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The game name.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gameVersion",
            "description": "The game version (ex. '1.29.1', '1.40.0').",
            "type": "string",
            "in": "query"
          },
          {
            "name": "status",
            "description": "The status of the mod. Available status are: 'verified'. Typing anything other than that will show you unverified mods too.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "platform",
            "description": "The platform of the mod. Available platforms are: 'oculuspc', 'universalpc', 'steampc'",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all mods."
          },
          "400": {
            "description": "Invalid gameVersion."
          }
        }
      }
    },
    "/mods/{modIdParam}": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get a specific mod by ID.",
        "description": "Get a specific mod by ID. This will also return every version of the mod.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "The mod ID."
          },
          {
            "name": "raw",
            "description": "Return the raw mod info.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod."
          },
          "400": {
            "description": "Invalid mod id."
          },
          "404": {
            "description": "Mod not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Mods"
        ],
        "description": "Update a mod.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Mod ID"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Mod data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "category": {
                  "type": "string",
                  "example": "string"
                },
                "authorIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "gitUrl": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/modversions/{modVersionIdParam}": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get a specific mod version by ID.",
        "description": "Get a specific mod version by ID.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "The mod version ID."
          },
          {
            "name": "raw",
            "description": "Return the raw mod depedendcies without attempting to resolve them.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod version."
          },
          "400": {
            "description": "Invalid mod version id."
          },
          "404": {
            "description": "Mod version not found."
          }
        }
      }
    },
    "/hashlookup": {
      "get": {
        "tags": [
          "Mods"
        ],
        "summary": "Get a specific mod version that has a file with the specified hash.",
        "description": "Get a specific mod version that has a file with the specified hash. This is useful for finding the mod that a file belongs to.",
        "parameters": [
          {
            "name": "hash",
            "description": "The hash to look up.",
            "type": "string",
            "required": true,
            "in": "query"
          },
          {
            "name": "raw",
            "description": "Return the raw mod depedendcies without attempting to resolve them.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the mod version."
          },
          "400": {
            "description": "Missing hash."
          },
          "404": {
            "description": "Hash not found."
          }
        }
      }
    },
    "/mods/create": {
      "post": {
        "tags": [
          "Mods"
        ],
        "summary": "Create a mod.",
        "description": "Create a mod.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "gitUrl": {
                  "type": "string",
                  "example": "string"
                },
                "category": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          },
          {
            "name": "icon",
            "in": "formData",
            "type": "file",
            "description": "Mod icon.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "413": {
            "description": "Payload Too Large"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mods/{modIdParam}/upload": {
      "post": {
        "tags": [
          "Mods"
        ],
        "summary": "Upload a mod version.",
        "description": "Upload a mod version.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "Mod ID."
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "supportedGameVersionIds": {
                  "type": "array",
                  "example": [
                    1
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "modVersion": {
                  "type": "string",
                  "example": "1.0.0"
                },
                "dependencies": {
                  "type": "array",
                  "example": [
                    1
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "platform": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "description": "Mod zip file.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "413": {
            "description": "Payload Too Large"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/modversion/{modVersionIdParam}": {
      "patch": {
        "tags": [
          "Mods"
        ],
        "description": "Update a mod version.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Mod Version ID"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Mod version data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "supportedGameVersionIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "modVersion": {
                  "type": "string",
                  "example": "string"
                },
                "dependencies": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "platform": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mods/{modIdParam}/submit": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/modVersions/{modVersionIdParam}/submit": {
      "post": {
        "tags": [
          "Mods"
        ],
        "description": "",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/auth": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get logged in user information.",
        "description": "Get user information.",
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/auth/github": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/auth/github/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/auth/discord": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/auth/discord/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout.",
        "description": "Logout.",
        "responses": {
          "200": {
            "description": "Logout successful."
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/games": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "version",
            "description": "The version to add",
            "type": "string",
            "in": "query"
          },
          {
            "name": "gameName",
            "description": "The game name to add the version to",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/versions/default": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "Versions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "description": "The ID of the version to set as default",
            "required": true,
            "type": "object",
            "schema": {
              "type": "object",
              "properties": {
                "gameVersionId": {
                  "type": "number",
                  "example": 1
                }
              }
            },
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "gameVersionId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beatmods/importAll": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/admin/health/hashCheck": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/admin/health/missingIcons": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/admin/health/dependencyResolution": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "",
        "parameters": [
          {
            "name": "versionId",
            "description": "The version ID to check.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "gameName",
            "description": "The game name to check.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "includeUnverified",
            "description": "Include unverified mods.",
            "required": false,
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/admin/linkversions": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Mark all versions as compatible with another gameversion.",
        "description": "Link two versions together.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The versions to link.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "version1": {
                  "type": "number",
                  "example": 1
                },
                "version2": {
                  "type": "number",
                  "example": 2
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/users/addRole": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Add a role to a user.",
        "description": "Add a role to a user.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The role to add.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number",
                  "example": 1
                },
                "role": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/users/removeRole": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Remove a role from a user.",
        "description": "Remove a role from a user.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The role to remove.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number",
                  "example": 1
                },
                "role": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/approval/new": {
      "get": {
        "tags": [
          "Approval"
        ],
        "summary": "Get new mods & modVersions pending approval.",
        "description": "Get a list of mods & modVersions pending their first approval.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The name of the game to get new mods for.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mods pending first approval",
            "schema": {
              "type": "object",
              "properties": {
                "mods": {
                  "type": "array",
                  "example": [],
                  "items": {}
                },
                "modVersions": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "204": {
            "description": "No mods found."
          },
          "400": {
            "description": "Missing game name."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/approval/edits": {
      "get": {
        "tags": [
          "Approval"
        ],
        "summary": "Get edits pending approval.",
        "description": "Get a list of already existing mod & modVersions that are pending approval.",
        "parameters": [
          {
            "name": "gameName",
            "description": "The name of the game to get edits for.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of edits pending approval",
            "schema": {
              "type": "object",
              "properties": {
                "edits": {
                  "type": "array",
                  "example": [],
                  "items": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "204": {
            "description": "No edits found."
          },
          "400": {
            "description": "Missing game name."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/approval/mod/{modIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve a mod.",
        "description": "Approve a mod for public visibility.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the mod to approve."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The status to set the mod to.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mod status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Mod not found."
          },
          "500": {
            "description": "Error approving mod."
          }
        }
      }
    },
    "/approval/modversion/{modVersionIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve a modVersion.",
        "description": "Approve a modVersion for public visibility.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the modVersion to approve."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The status to set the modVersion to.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ModVersion status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "ModVersion not found."
          },
          "500": {
            "description": "Error approving modVersion."
          }
        }
      }
    },
    "/approval/edit/{editIdParam}/approve": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Approve an edit.",
        "description": "Approve an edit for public visibility.",
        "parameters": [
          {
            "name": "editIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the edit to approve."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The accepted value.",
            "schema": {
              "type": "object",
              "properties": {
                "accepted": {
                  "type": "string",
                  "example": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edit status updated."
          },
          "400": {
            "description": "Missing status."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Edit not found."
          },
          "500": {
            "description": "Error approving edit."
          }
        }
      }
    },
    "/approval/mod/{modIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit a mod in the approval queue.",
        "description": "Edit a mod in the approval queue.",
        "parameters": [
          {
            "name": "modIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the mod to edit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The mod object to update.",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "gitUrl": {
                  "type": "string",
                  "example": "string"
                },
                "category": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                },
                "authorIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mod updated.",
            "schema": {
              "type": "object",
              "properties": {
                "mod": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Mod not found."
          },
          "500": {
            "description": "Error updating mod."
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "deprecated": true
      }
    },
    "/approval/modversion/{modVersionIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit a modVersion in the approval queue.",
        "description": "Edit a modVersion in the approval queue.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the modVersion to edit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The modVersion object to update.",
            "schema": {
              "type": "object",
              "properties": {
                "modVersion": {
                  "type": "string",
                  "example": "string"
                },
                "supportedGameVersionIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "dependencies": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "platform": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ModVersion updated.",
            "schema": {
              "type": "object",
              "properties": {
                "modVersion": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "ModVersion not found."
          },
          "500": {
            "description": "Error updating modVersion."
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "deprecated": true
      }
    },
    "/approval/edit/{editIdParam}": {
      "patch": {
        "tags": [
          "Approval"
        ],
        "summary": "Edit an edit in the approval queue.",
        "description": "Edit an edit in the approval queue.",
        "parameters": [
          {
            "name": "editIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the edit to edit."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The edit object to update.",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "string"
                },
                "summary": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "gitUrl": {
                  "type": "string",
                  "example": "string"
                },
                "category": {
                  "type": "string",
                  "example": "string"
                },
                "gameName": {
                  "type": "string",
                  "example": "string"
                },
                "authorIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "supportedGameVersionIds": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "modVersion": {
                  "type": "string",
                  "example": "string"
                },
                "platform": {
                  "type": "string",
                  "example": "string"
                },
                "dependencies": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edit updated.",
            "schema": {
              "type": "object",
              "properties": {
                "edit": {
                  "type": "object",
                  "properties": {}
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "400": {
            "description": "No changes provided."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Edit not found."
          },
          "500": {
            "description": "Error updating edit."
          }
        }
      }
    },
    "/approval/modVersion/{modVersionIdParam}/revoke": {
      "post": {
        "tags": [
          "Approval"
        ],
        "summary": "Revoke a modVersion",
        "description": "Revoke a modVersion\\'s verification status.\\n\\nThis will also revoke the verification status of any modVersions that depend on this modVersion.",
        "parameters": [
          {
            "name": "modVersionIdParam",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id of the modVersion to revoke."
          },
          {
            "name": "allowDependants",
            "description": "Allow dependants to remain verified. This is dangerous.",
            "type": "boolean",
            "required": true,
            "in": "query"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "allowDependants": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/motd": {
      "get": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "parameters": [
          {
            "name": "gameName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/motd/{id}": {
      "delete": {
        "tags": [
          "MOTD"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get logged in user information.",
        "description": "Get user information.",
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "User ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user information."
          },
          "400": {
            "description": "Invalid parameters."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/user/{id}/mods": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user information.",
        "description": "Get user information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "number",
            "description": "User ID."
          },
          {
            "name": "status",
            "description": "Status of the mod.",
            "type": "string",
            "in": "query"
          },
          {
            "name": "platform",
            "description": "Platform of the mod.",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns mods."
          },
          "400": {
            "description": "Invalid parameters."
          },
          "404": {
            "description": "User not found."
          }
        }
      }
    },
    "/bbmStatusForBbmAlsoPinkEraAndLillieAreCuteBtwWilliamGay": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Get API status.",
        "description": "Get API status.",
        "responses": {
          "200": {
            "description": "Returns API status."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}